<div id="preview-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" id="preview-modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Matched Images</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>We found some matched images for you, to get details please unlock the phone number</p>
                <div id="matching-images-container" class="row">

                </div>

                <input type="hidden" id="matched-post-id-list" />
                <input type="hidden" id="preview-post-id" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="unlock-button">Unlock</button>
            </div>
        </div>
    </div>
</div>