@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@section Styles{ 
    <link rel="icon" href="~/favicon-ifinder.ico" type="image/x-icon">
}


<div class="container" style="background-color: #ffdd0b">

    <div class="text-center pt-5 mt-2">
        <h1>ifinder Contributors</h1>
    </div>


    <div class="text-center mt-5 pb-5">

        <div class="row">
            <div class="col-4">
                <img width="200" height="200" src="~/images/Md Ashikur Rahman.png" />
                <div class="mt-1" style="font-weight:bold">
                    Md. Ashikur Rahman
                </div>
                <div class="mt-1">
                    ML Engineer
                </div>
            </div>

            <div class="col-4">
                <img width="200" height="200" src="~/images/Md Amir Faisal.jpg" />
                <div class="mt-1" style="font-weight:bold">
                    Md. Amir Faisal
                </div>
                <div class="mt-1">
                    Software Developer
                </div>
            </div>

            <div class="col-4">
                <img width="200" height="200" src="~/images/Asiquzzaman Rabbi.png" />
                <div class="mt-1" style="font-weight:bold">
                    Md. Asiquzzaman
                </div>
                <div class="mt-1">
                    Web Developer
                </div>
            </div>
        </div>
        

    </div>

</div>
